{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center text-blue-600">
  Bienvenido a la aplicación de Clínicas
</h1>
<p class="mt-4 text-center text-gray-700">
  Gestiona tus doctores, pacientes y consultas de manera eficiente.
</p>

<div class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-4">
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-2 text-gray-800">Doctores</h2>
    <ul>
      {% for doctor in doctores %}
      <li class="mb-2 p-3 border-b border-gray-200 hover:bg-blue-50 transition-all duration-200 rounded-md flex items-center justify-between">
        <span class="font-semibold text-gray-800 hover:text-blue-600">{{ doctor.nombre }}</span>
        <span class="text-blue-500 px-2 py-1 bg-blue-50 rounded-full text-sm font-bold">{{ doctor.especialidad }}</span>
        <span class="text-gray-600 hover:text-gray-800 transition-colors">{{ doctor.telefono }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold mb-2 text-gray-800">Pacientes</h2>
    <ul>
      {% for paciente in pacientes %}
        <li
          class="mb-2 p-3 border-b border-gray-200 hover:bg-blue-50 transition-all duration-200 rounded-md flex items-center justify-between">
          <span class="font-semibold text-gray-800 hover:text-blue-600">{{ paciente.nombre }}</span>
          <span class="font-semibold text-gray-800 hover:text-blue-600">{{ paciente.paterno }}</span>
          <span class="text-gray-600 hover:text-gray-800 transition-colors">{{ paciente.materno }}</span> -
          <span class="text-gray-600 hover:text-gray-800 transition-colors">{{ paciente.genero }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="mt-8">
  <h2 class="text-2xl font-bold mb-4 text-gray-800">Consultas</h2>
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b border-gray-200">Fecha</th>
        <th class="py-2 px-4 border-b border-gray-200">Paciente</th>
        <th class="py-2 px-4 border-b border-gray-200">Doctor</th>
        <th class="py-2 px-4 border-b border-gray-200">Motivo</th>
        <th class="py-2 px-4 border-b border-gray-200">Diagnóstico</th>
      </tr>
    </thead>
    <tbody>
      {% for consulta in consultas %}
      <tr>
        <td class="py-2 px-4 border-b border-gray-200">{{ consulta.fecha }}</td>
        <td class="py-2 px-4 border-b border-gray-200">{{ consulta.paciente }}</td>
        <td class="py-2 px-4 border-b border-gray-200">{{ consulta.doctor.nombre }}</td>
        <td class="py-2 px-4 border-b border-gray-200">{{ consulta.motivo }}</td>
        <td class="py-2 px-4 border-b border-gray-200">{{ consulta.diagnostico }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="py-2 px-4 border-b border-gray-200 text-center">No tienes consultas registradas.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}